body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#ffd6e0;
  font-family:Arial;
}

.book{
  position:relative;
  width:350px;
  height:450px;
  perspective:2000px;
}

.page{
  position:absolute;
  width:100%;
  height:100%;
  transform-origin:left;
  transition:1s;
  background:white;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  cursor:pointer;
}

/* Cover */
.cover{
  background:#ff4d6d;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

/* Inner page content */
.content{
  display:flex;
  height:100%;
}

.content img{
  width:60%;
  height:100%;
  object-fit:cover;
  border-radius:10px 0 0 10px;
}

.content p{
  width:40%;
  padding:20px;
  display:flex;
  align-items:center;
  font-size:18px;
  text-align:center;
}

.page.flipped{
  transform:rotateY(-180deg);
}
.hearts{
  position:fixed;
  width:100%;
  height:100%;
  pointer-events:none;
}

.heart{
  position:absolute;
  color:#ff4d6d;
  font-size:20px;
  animation:float 5s linear infinite;
}

@keyframes float{
  0%{
    transform:translateY(100vh);
    opacity:1;
  }
  100%{
    transform:translateY(-10vh);
    opacity:0;
  }
}
.balloons{
  position:fixed;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
}

/* Balloon Container */
.balloon{
  position:absolute;
  bottom:-120px;
  animation:flyUp linear infinite;
}

/* Heart Shape */
.balloon-heart{
  width:40px;
  height:40px;
  background:#ff4d6d;
  position:relative;
  transform:rotate(-45deg);
}

.balloon-heart::before,
.balloon-heart::after{
  content:"";
  width:40px;
  height:40px;
  background:#ff4d6d;
  border-radius:50%;
  position:absolute;
}

.balloon-heart::before{
  top:-20px;
  left:0;
}

.balloon-heart::after{
  left:20px;
  top:0;
}

/* Balloon String */
.string{
  width:2px;
  height:40px;
  background:#555;
  margin:auto;
}

@keyframes flyUp{
  0%{
    transform:translateY(0);
    opacity:1;
  }
  100%{
    transform:translateY(-120vh);
    opacity:0;
  }
}